@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
  font-family: inherit;
  font-size: 14px;
  font-weight: 500;
}

body {
  font-family: 'Inter', sans-serif;
  height: 100vh;
  margin: 0;
  font-weight: 500;
}

.container {
  max-width: 1440px;
  height: 100vh;
  margin: auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 20px;
}

.blue-btn {
  background-color: #2c55fe;
  border: 1px solid #2948c9;
  border-radius: 6px;
  padding: 9px 16px;
  color: white;
  transition: 0.2s;
  box-shadow: 0px 1px 2px rgba(24, 38, 98, 0.2), 0px 4px 4px rgba(19, 35, 99, 0.21);
}

.blue-btn:hover,
.blue-btn:focus {
  background-color: #1442ff;
}

.blue-btn:active {
  background: #1442ff;
  border: 1px solid #102ca1;
}

.sign-up {
  margin-left: 8px;
}

.login {
  background-color: transparent;
  border: 0;
}

.wrapper {
  display: flex;
  justify-content: center;
}

@media (max-width: 800px) {
  .wrapper {
    flex-direction: column;
  }
  .left {
    display: none;
  }
}

.vertical {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.main {
  border: 1px solid #ededed;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.04), 0px 8px 14px rgba(0, 0, 0, 0.07);
  border-radius: 16px;
  text-align: center;
  position: relative;
  padding: 40px 84px;
}

.photographer {
  position: absolute;
  right: 16px;
  top: 16px;
  font-size: 12px;
  line-height: 15px;
  margin: 0;
  color: rgba(0, 0, 0, 0.3);
}

.photographer a {
  color: inherit;
  letter-spacing: 1px;
}

.toggle-me {
  display: flex;
  background: #f3f4f7;
  border-radius: 36px;
  width: fit-content;
  margin-inline: auto;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.7);
  margin-top: 40px;
  padding: 2px;
}

.male,
.female {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  font-size: 14px;
  padding: 6px 16px;
  border-radius: 61px;
}

.active {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04);
  color: rgba(0, 0, 0, 1);
}

.image-wrapper {
  width: 350px;
  height: 350px;
  background-color: #870aec;
  border-radius: 50%;
  overflow: hidden;
  margin: 57px auto;
}

.image-wrapper img {
  display: block;
  margin-top: 14px;
  width: 100%;
}

.pallete {
  position: absolute;
  width: 36px;
  height: 252px;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  border: 0.6px solid #e9eaed;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2), 0px 4px 4px rgba(0, 0, 0, 0.04);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.color-circle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 0;
  cursor: pointer;
}

.color-circle.picked {
  box-shadow: 0 0 0 2px white, 0 0 0 3px black;
}

input[type='color'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: white;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1.1px solid #d3d3d6;
  padding: 0 !important;
  background-image: url('images/plus-sign.svg');
  background-repeat: no-repeat;
  background-position: center center;
}

input[type='color']::-webkit-color-swatch {
  display: none !important;
}

.tool-options {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.shuffle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.shuffle i {
  margin-right: 12px;
}

.copy {
  background: #ffffff;
  border: 1px solid #dddde0;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2), 0px 4px 4px rgba(0, 0, 0, 0.04);
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  transition: 0.3s;
}

.copy .tooltip {
  position: absolute;
  padding: 4px 10px;
  background: #1b1d1f;
  box-shadow: 0px 4px 14px rgb(67 68 69 / 52%);
  border-radius: 5px;
  text-align: center;
  color: #fff;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  top: -35px;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
  white-space: nowrap;
}

.tooltip:after {
  content: '';
  position: absolute;
  border-width: 6px;
  border-style: solid;
  border-color: #1b1d1f transparent transparent transparent;
  display: block;
  bottom: -11px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.copy:hover .tooltip {
  opacity: 1;
  visibility: visible;
  top: -30px;
}

.copy:hover {
  transition: 1s;
  background: #ebedf2;
}

.copy:focus {
  background: #e4e5eb;
  transform: scale(0.98);
}

.copy:hover .px {
  background: #d7ddf5;
}

.selected {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1.2px solid #dddde0;
}

.px {
  padding: 2px 4px;
  background: #e0e6ff;
  border-radius: 27px;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  color: #2c55fe;
  margin-left: 4px;
}

.angle-down {
  padding: 16px 14px;
  display: flex;
}

.save {
  padding: 10px 11px;
}

.down-text {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 570px;
  padding: 16px 0;
  margin: auto;
}

.copy-rights i,
.contributers i {
  font-weight: bold;
}

.advertising {
  background: #f3f4f7;
  border-radius: 16px;
  width: 270px;
  height: 224px;
  background: #f3f4f7;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: rgba(0, 0, 0, 0.5);
}

.advertising.top {
  height: 112px;
  width: 570px;
  margin: 0 auto 20px;
}

.left-part,
.right-part {
  margin: 0 30px 20px;
}

footer {
  text-align: center;
}
